<div class="widget">
    <label for="ctrl_{{ id }}_youtube">{{ label }}</label>
    <input type="text" name="youtube_litespeed" id="ctrl_{{ id }}_youtube" class="tl_text" value="{{ value_youtube }}">
</div>
